google-ai-generativelanguage==0.6.17
google-api-core==2.24.0
google-api-python-client==2.157.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-vision==3.9.0
google-genai==0.3.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
langchain==0.3.17
langchain-aws==0.2.15
langchain-chroma==0.2.1
langchain-community==0.3.16
langchain-core==0.3.51
langchain-experimental==0.3.4
langchain-google-genai==2.1.2
langchain-groq==0.2.4
langchain-huggingface==0.0.3
langchain-openai==0.3.4
langchain-pinecone==0.1.1
langchain-text-splitters==0.3.5
langdetect==1.0.9
langsmith==0.1.147
latex2mathml==3.77.0
Levenshtein==0.26.1
llama-cloud==0.1.13
llama-index-core==0.12.22
Markdown==3.7
markdown-it-py==3.0.0
marko==2.1.2
pinecone-client==3.2.2
tiktoken==0.8.0
tokenizers==0.21.0